
<form id="add-card">
  <input type="hidden" name="card[list_id]" value=<%= list.id%> >
  <label>title:
    <input type="text" name="card[title]">
  </label>

    <textarea name="card[description]"></textarea>

    <button>Add Note</button>
</form>
